[Unit]
Description=JSK PR1012 gdrive recorder 
After=network-online.target
Wants=network-online.target

[Service]
User=shingo
Group=shingo
ExecStart=/bin/bash -c "source /home/shingo/ros/kinetic/devel/setup.bash && rossetip && rossetmaster pr1012 && rosrun jsk_tools roscore_regardless.py --respawn --timeout 1 --ping-trials 1 --sigint-timeout 5 --sigterm-timeout 5 rosrun gdrive_recorder gdrive_recorder.py _video_path:=/mnt/hdd3/data/gdrive_recorder/pr1012_recorder _database:=pr1012 _timezone:=Asia/Tokyo _robot_type:=pr2 _robot_name:=pr1012 _video_topic_name:=/kinect_head_pr2_recorder/rgb/image_rect_color _upload_dest:=quasar"

[Install]
WantedBy=multi-user.target
