<launch>
  <arg name="conf_file" default="$(find julius_ros)/conf/grammar.jconf" />
  <arg name="hmm_def_file" default="/usr/share/julius-voxforge/acoustic/hmmdefs" />
  <arg name="hmm_list_file" default="/usr/share/julius-voxforge/acoustic/tiedlist" />
  <arg name="gram_path" default="$(find julius_ros)/data/udon" />

  <arg name="module_port" default="10500" />
  <arg name="audio_port"  default="10501" />
  <arg name="max_connection_retry" default="0" />
  <arg name="respawn" default="true" />

  <arg name="launch_audio_capture" default="true" />
  <arg name="launch_sound_play" default="true" />
  <arg name="sound_play_topic" default="sound_play" />
  <arg name="speech_to_text_topic" default="speech_to_text" />

  <arg name="machine" default="localhost" />
  <arg name="use_machine" default="true" />

  <machine name="localhost" address="localhost" if="$(arg use_machine)" />

  <!-- run julius (grammar) -->
  <node name="julius_grammar" pkg="julius_ros" type="run_julius.sh"
        machine="$(arg machine)" respawn="$(arg respawn)"
        args="-C $(arg conf_file)
              -adport $(arg audio_port)
              -module $(arg module_port)
              -h $(arg hmm_def_file)
              -hlist $(arg hmm_list_file)
              -gram $(arg gram_path)" />

  <!-- audio capture from microphone -->
  <node name="audio_capture" pkg="audio_capture" type="audio_capture"
        if="$(arg launch_audio_capture)"
        machine="$(arg machine)"
        respawn="$(arg respawn)"
        output="screen">
    <param name="format" value="wave" />
    <param name="channels" value="1" />
    <param name="depth" value="16" />
    <param name="sample_rate" value="16000" />
  </node>


  <!-- sound play -->
  <node name="sound_play" pkg="sound_play" type="soundplay_node.py"
        machine="$(arg machine)"
        respawn="$(arg respawn)"
        if="$(arg launch_sound_play)" />

  <!-- ros / julius interface -->
  <node name="julius_client_grammar"
        pkg="julius_ros" type="julius_client.py"
        machine="$(arg machine)"
        respawn="$(arg respawn)"
        output="screen">
    <remap from="sound_play" to="$(arg sound_play_topic)" />
    <remap from="speech_to_text" to="$(arg speech_to_text_topic)" />
    <rosparam subst_value="true">
      use_isolated_word: false
      audio_port: $(arg audio_port)
      module_port: $(arg module_port)
      max_connection_retry: $(arg max_connection_retry)
    </rosparam>
  </node>
</launch>
