<launch>
    <arg name="vad_threshold" default="0.5" />
    <arg name="vad_minimum_duration" default="1.0" />
    <arg name="vad_maximum_duration" default="10.0" />
    <arg name="vad_audio_timeout_duration" default="0.3" />

    <include file="$(find audio_capture)/launch/capture.launch">
        <arg name="format" value="wave" />
    </include>

    <node
        name="silero_vad_ros"
        pkg="silero_vad_ros"
        type="vad.py"
        output="screen"
        respawn="true"
    >
        <rosparam subst_value="true">
            threshold: $(arg vad_threshold)
            minimum_duration: $(arg vad_minimum_duration)
            maximum_duration: $(arg vad_maximum_duration)
            audio_timeout_duration: $(arg vad_audio_timeout_duration)
        </rosparam>
        <remap from="audio_data" to="/audio/audio" />
        <remap from="audio_info" to="/audio/audio_info" />
    </node>

    <node
        name="speech_to_text"
        pkg="respeaker_ros"
        type="speech_to_text.py"
        output="log"
    >
        <remap from="audio" to="/silero_vad_ros/speech_audio" />
        <rosparam subst_value="true">
            language: ja-JP
            self_cancellation: true
            tts_actions_names:
            - sound_play
            - speed_play_jp
            - robotsound
            - robotsound_jp
            tts_tolerance: 1.0
        </rosparam>
    </node>

    <node
        name="print_stt_result"
        pkg="webrtcvad_ros"
        type="print_stt_result.py"
        output="screen"
    />
</launch>