[Unit]
Description=Fetch1075 influxdb logger
After=network-online.target influxdb.service
Wants=network-online.target influxdb.service

[Service]
User=applications
Group=applications
ExecStart=/bin/bash -c "source /home/applications/ros/melodic/devel/setup.bash && rossetip && rossetmaster fetch1075 && rosrun jsk_tools roscore_regardless.py --respawn --timeout 3 --ping-trials 1 --sigint-timeout 5 --sigterm-timeout 5 roslaunch influxdb_store fetch_influxdb_logger.launch robot_name:=fetch1075"

[Install]
WantedBy=multi-user.target
