<launch>
  <arg name="yaml_file" doc="Yaml file of web settings." />
  <arg name="respawn" default="true" />

  <node name="dialogflow_webhook_ros_server" pkg="dialogflow_webhook_ros" type="webhook_server.py"
	respawn="$(arg respawn)" output="screen">
    <rosparam command="load" file="$(arg yaml_file)" />
  </node>
</launch>
