<launch>
  <arg name="launch_sound_play" default="true" />
  <arg name="launch_audio_capture" default="true" />

  <arg name="engine" default="Google" />
  <arg name="language" default="en-US" />
  <arg name="continuous" default="false" />

  <!-- sound play -->
  <node name="sound_play" pkg="sound_play" type="soundplay_node.py"
        if="$(arg launch_sound_play)"
        respawn="true">
    <remap from="robotsound" to="sound_play" />
  </node>

  <!-- audio capture from microphone -->
  <node name="audio_capture" pkg="audio_capture" type="audio_capture"
        if="$(arg launch_audio_capture)"
        respawn="true">
    <rosparam>
      format: wave
      channels: 1
      depth: 16
      sample_rate: 16000
    </rosparam>
  </node>

  <node name="speech_recognition"
        pkg="ros_speech_recognition" type="speech_recognition_node.py"
        respawn="true"
        output="screen">
    <rosparam subst_value="true">
      engine: $(arg engine)
      language: $(arg language)
      continuous: $(arg continuous)
    </rosparam>
  </node>
</launch>
