<launch>
  <arg name="language" default="en-US"/>
  
  <node name="respeaker_node" pkg="respeaker_ros" type="respeaker_node.py"
        output="screen"/>

  <node name="static_transformer" pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 1 map respeaker_base 100"/>

  <node name="sound_play" pkg="sound_play" type="soundplay_node.py"/>

  <node name="speech_to_text" pkg="respeaker_ros" type="speech_to_text.py"
        output="screen">
    <remap from="audio" to="speech_audio"/>
    <rosparam subst_value="true">
      language: $(arg language)
      self_cancellation: true
      tts_tolerance: 0.5
    </rosparam>
  </node>
</launch>
