<launch>
    <arg name="audio_source_1_frame_id" default="audio_source_1" />
    <arg name="audio_source_2_frame_id" default="audio_source_2" />
    <arg name="head_frame_id"   default="head" />
    <arg name="filename_1" default="$(find spatial_audio_demo)/sound/amenoyoru.wav" />
    <arg name="filename_2" default="$(find spatial_audio_demo)/sound/minamijujisei.wav" />

    <node
        name="audio_source_interactive_marker_1"
        pkg="spatial_audio_demo"
        type="audio_source_interactive_marker"
        output="log"
        required="true"
        >
        <param name="~description" value="" />
        <param name="~name" value="audio_source_1_interactive_marker" />
        <param name="~fixed_frame_id"  value="$(arg head_frame_id)" />
        <param name="~source_frame_id" value="$(arg audio_source_1_frame_id)" />
        <param name="~base_scale" value="0.1" />
        <param name="~marker_scale" value="0.05" />
        <param name="~position_x" value="0.0" />
        <param name="~position_y" value="1.0" />
        <param name="~position_z" value="0.0" />
        <param name="~color_r" value="0.8" />
        <param name="~color_g" value="0.1" />
        <param name="~color_b" value="0.1" />
    </node>

    <node
        name="audio_source_interactive_marker_2"
        pkg="spatial_audio_demo"
        type="audio_source_interactive_marker"
        output="log"
        required="true"
        >
        <param name="~description" value="" />
        <param name="~name" value="audio_source_2_interactive_marker" />
        <param name="~fixed_frame_id"  value="$(arg head_frame_id)" />
        <param name="~source_frame_id" value="$(arg audio_source_2_frame_id)" />
        <param name="~base_scale" value="0.1" />
        <param name="~marker_scale" value="0.05" />
        <param name="~position_x" value="0.0" />
        <param name="~position_y" value="-1.0" />
        <param name="~position_z" value="0.0" />
        <param name="~color_r" value="0.1" />
        <param name="~color_g" value="0.8" />
        <param name="~color_b" value="0.1" />
    </node>

    <node
        name="spatial_audio_server_node"
        pkg="spatial_audio"
        type="spatial_audio_server_node"
        output="screen"
        required="true"
        >
        <param name="~head_frame_id" value="$(arg head_frame_id)" />
        <param name="~num_spinthread" value="5" />
    </node>

    <node
        name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find spatial_audio_demo)/rviz/interactive_demo.rviz"
        output="log"
        required="true"
        />

    <node
        name="stl_marker"
        pkg="spatial_audio_demo"
        type="stl_marker.py"
        output="log"
        >
        <param name="~frame_id" value="$(arg head_frame_id)" />
        <param name="~scale" value="0.001" />
        <param name="~mesh_resource" value="package://spatial_audio_demo/mesh/male_head.stl" />
        <param name="~color_r" value="0.8" />
        <param name="~color_g" value="0.8" />
        <param name="~color_b" value="0.8" />
    </node>

    <node
        name="audio_stream_publisher_1"
        pkg="spatial_audio_demo"
        type="audio_stream_publisher.py"
        output="screen"
        required="true"
        >
        <param name="~filename" value="$(arg filename_1)" />
        <param name="~max_precede" value="0.0" />
    </node>

    <node
        name="audio_stream_publisher_2"
        pkg="spatial_audio_demo"
        type="audio_stream_publisher.py"
        output="screen"
        required="true"
        >
        <param name="~filename" value="$(arg filename_2)" />
        <param name="~max_precede" value="0.0" />
    </node>

    <node
        name="simple_client_1"
        pkg="spatial_audio_demo"
        type="simple_client.py"
        output="screen"
        >
        <param name="~id" value="0" />
        <param name="~frame_id" value="$(arg audio_source_1_frame_id)" />
        <param name="~source_topicname_audio" value="/audio_stream_publisher_1/audio" />
        <param name="~source_topicname_info" value="/audio_stream_publisher_1/info" />

        <remap from="~service" to="spatial_audio_server_node/play_source" />
    </node>

    <node
        name="simple_client_2"
        pkg="spatial_audio_demo"
        type="simple_client.py"
        output="screen"
        >
        <param name="~id" value="1" />
        <param name="~frame_id" value="$(arg audio_source_2_frame_id)" />
        <param name="~source_topicname_audio" value="/audio_stream_publisher_2/audio" />
        <param name="~source_topicname_info" value="/audio_stream_publisher_2/info" />

        <remap from="~service" to="spatial_audio_server_node/play_source" />
    </node>
</launch>
