[Unit]
Description=Baxter influxdb logger
After=network-online.target influxdb.service
Wants=network-online.target influxdb.service

[Service]
User=applications
Group=applications
ExecStart=/bin/bash -c "source /home/applications/ros/melodic/devel/setup.bash && rossetip && rossetmaster baxter && rosrun jsk_tools roscore_regardless.py --respawn --timeout 3 --ping-trials 1 --sigint-timeout 5 --sigterm-timeout 5 roslaunch influxdb_store baxter_influxdb_logger.launch robot_name:=baxter"

[Install]
WantedBy=multi-user.target
