<launch>

  <arg name="port"
       doc="Port connecting with USB-Serial troubleshooter (e.g., '/dev/ttyACM0')" />

  <arg name="serial_timeout" default="1"
       doc="Timeout [sec] of serial communication with USB-Serial troubleshooter" />
  <arg name="power_cycle_interval" default="1.0"
       doc="Interval [sec] in USB power cycle using USB-Serial troubleshooter" />
  <arg name="init_with_power_set" default="true"
       doc="Set power state of USB when driver of USB-Serial troubleshooter is initialized. Which state (ON or OFF) is set is defined by init_with_power_on" />
  <arg name="init_with_power_on" default="true"
       doc="Power on USB when driver of USB-Serial troubleshooter is initialized. This argument is valid only when init_with_power_set is true" />
  <arg name="power_service" default="~power"
       doc="Name of service for USB power switching" />
  <arg name="power_cycle_service" default="~power_cycle"
       doc="Name of service for USB power cycle" />

  <node name="usb_serial_troubleshooter_driver"
        pkg="century_ros" type="usb_serial_troubleshooter_driver.py"
        respawn="true"
        output="screen">
    <remap from="~power" to="$(arg power_service)" />
    <remap from="~power_cycle" to="$(arg power_cycle_service)" />
    <rosparam subst_value="true">
      port: $(arg port)
      serial_timeout: $(arg serial_timeout)
      power_cycle_interval: $(arg power_cycle_interval)
      init_with_power_set: $(arg init_with_power_set)
      init_with_power_on: $(arg init_with_power_on)
    </rosparam>
  </node>

</launch>
