<launch>
  <arg name="compressed_video_topic_name" default="/head_camera/rgb/image_rect_color" />
  <arg name="video_topic_name" default="/head_camera_fetch_recorder/rgb/image_rect_color" />

  <group ns="head_camera_fetch_recorder">
    <node name="rgb_image_transport" pkg="image_transport" type="republish" respawn="false"
          args="compressed in:=$(arg compressed_video_topic_name)
                raw out:=$(arg video_topic_name)" />
  </group>
</launch>
